" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000
set textwidth=80 
set wrap=true

" easy system clipboard copy/paste
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" clear the search buffer when hitting return
nnoremap <space><cr> :nohlsearch<cr>

" remap esc
nnoremap jk <esc>
inoremap jk <esc>
vnoremap jk <esc>

" code Navigation
nnoremap gd :action GoToDeclaration<cr>
nnoremap <space>k :action HighlightUsagesInFile<cr>
nnoremap <space>ps :action FindInPath<cr> " this is grep over text in all files
nnoremap <space>fr :action FindUsages<cr>
nnoremap <space>lf :Action ReformatCode<cr>

" code refactoring
nnoremap <space>s :action RenameElement<cr>

" Move Selected Lines Up and Down
vnoremap <C-K> :action MoveLineUp<cr>
vnoremap <C-J> :action MoveLineDown<cr>

" Surround
vnoremap <space>cs :action SurroundWith<cr>
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" toggle the breakpoint on the current line
nnoremap <space>b :action ToggleLineBreakpoint<cr>
