" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
set hlsearch
set scrolloff=3
set ignorecase smartcase
set showmode
set history=1000
set textwidth=120

" set leader
let mapleader = " "
" easy system clipboard copy/paste
noremap <space>y "*y
noremap <space>Y "*Y
noremap <space>p "*p
noremap <space>P "*P

" clear the search buffer when hitting return
nnoremap <space><cr> :nohlsearch<cr>

" remap esc
nnoremap hj <esc>
inoremap hj <esc>
vnoremap hj <esc>

" code refactoring
nnoremap <space>s :action RenameElement<cr>

" Move Selected Block Up and Down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Surround
vnoremap <space>cs :action SurroundWith<cr>

" find
nnoremap <leader>pf :action GotoFile<CR>
nnoremap <leader>ps :action GotoSymbol<CR>

" use ctrl+h/j/k/l switch window
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l


" code navigation
nnoremap gi :action GotoImplementation<CR>
nnoremap gy :action GotoTypeDeclaration<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gd :action GotoDeclaration<CR>

" code information
nnoremap K :action ShowHoverInfo<CR>

" Terminal shortcuts
nnoremap <C-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

" zen-mode
nnoremap <C-z> :action ToggleDistractionFreeMode<CR>

" reformat code
nnoremap <Leader>lf :action ReformatCode<CR>
vnoremap <Leader>lf :action ReformatCode<CR>

" Git

" In settings look for annotate and set it to Alt-G for Git
" then right click on the gutter and choose View -> Revision

" See File History
nnoremap gb :action Vcs.Log.ToolWindow.TabActions.DropDown<cr>

" open file on github
nnoremap gB :action Vcs.FileHistory.Toolbar<CR>

" Choose a completion option from the list
inoremap <C-y> :action EditorChooseLookupItem<cr>

Plug 'preservim/nerdtree'

" Open File Tree
nnoremap <leader>pv :NERDTreeToggle<CR>
